.cart__products{
  margin-bottom: 20px;
}

.cart__block{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}

.cart__price {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}


