.header {
  padding: 10px;
  margin-bottom: 40px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}
